/* DataCard.css */
.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
  }
  
  .data-card {
    flex: 1 1 calc(33.33% - 16px);
    padding: 16px;
    text-align: center;
    border-radius: 8px;
  }
  
  .data-card img {
    width: 400px;
    height: 500px; 
    margin-top: 8px;
    padding: 8px;
  }

 .skeleton-loader{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2cdcd;
    padding: 16px;
 } 
  
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}